* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: #272d36;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#logo {
    max-width: 1000px;
    width: 95%;
}

.social {
    color: #ffffff;
}

a {
    color: #35d0ba;
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    position: relative;
    top: -40px;
}

.go-down {
    max-width: 25px;
    position: relative;
    top: -64px;
}

li {
    margin-left: 20px;
}

article {
    font-weight: 200;
    color: #eeeeee;
    margin: 10px auto 50px auto;
    width: 80%;
    max-width: 700px;
    text-align: justify;
}

.glitch {
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0)
    }
    10% {
        transform: scale(1.1, .9) translateY(0)
    }
    30% {
        transform: scale(.9, 1.1) translateY(-60px)
    }
    50% {
        transform: scale(1.05, .95) translateY(0)
    }
    57% {
        transform: scale(1, 1) translateY(-7px)
    }
    64% {
        transform: scale(1, 1) translateY(0)
    }
    100% {
        transform: scale(1, 1) translateY(0)
    }
}

@keyframes shake {
    2% {
        transform: translate(-3px, 3px) rotate(-2.5deg)
    }
    4% {
        transform: translate(-3px, -2px) rotate(-1.5deg)
    }
    6% {
        transform: translate(-9px, 4px) rotate(-1.5deg)
    }
    8% {
        transform: translate(9px, 8px) rotate(2.5deg)
    }
    10% {
        transform: translate(2px, 7px) rotate(.5deg)
    }
    12% {
        transform: translate(3px, -5px) rotate(.5deg)
    }
    14% {
        transform: translate(5px, 8px) rotate(1.5deg)
    }
    16% {
        transform: translate(8px, -2px) rotate(-2.5deg)
    }
    18% {
        transform: translate(-2px, 1px) rotate(-.5deg)
    }
    20% {
        transform: translate(-4px, 10px) rotate(-.5deg)
    }
    22% {
        transform: translate(7px, 2px) rotate(2.5deg)
    }
    24% {
        transform: translate(8px, 0px) rotate(3.5deg)
    }
    26% {
        transform: translate(-7px, -8px) rotate(3.5deg)
    }
    28% {
        transform: translate(-5px, 10px) rotate(1.5deg)
    }
    30% {
        transform: translate(1px, 2px) rotate(-.5deg)
    }
    32% {
        transform: translate(4px, 4px) rotate(-1.5deg)
    }
    34% {
        transform: translate(8px, -3px) rotate(-1.5deg)
    }
    36% {
        transform: translate(8px, 9px) rotate(-2.5deg)
    }
    38% {
        transform: translate(-4px, 10px) rotate(2.5deg)
    }
    40% {
        transform: translate(5px, 2px) rotate(.5deg)
    }
    42% {
        transform: translate(2px, 7px) rotate(2.5deg)
    }
    44% {
        transform: translate(7px, 5px) rotate(.5deg)
    }
    46% {
        transform: translate(-5px, 0px) rotate(3.5deg)
    }
    48% {
        transform: translate(-2px, -7px) rotate(-.5deg)
    }
    50% {
        transform: translate(-1px, -5px) rotate(.5deg)
    }
    52% {
        transform: translate(-4px, 8px) rotate(-.5deg)
    }
    54% {
        transform: translate(8px, -3px) rotate(3.5deg)
    }
    56% {
        transform: translate(-1px, -8px) rotate(2.5deg)
    }
    58% {
        transform: translate(6px, 6px) rotate(3.5deg)
    }
    60% {
        transform: translate(0px, 4px) rotate(-.5deg)
    }
    62% {
        transform: translate(2px, -7px) rotate(.5deg)
    }
    64% {
        transform: translate(0px, 6px) rotate(2.5deg)
    }
    66% {
        transform: translate(5px, 0px) rotate(-.5deg)
    }
    68% {
        transform: translate(0px, 3px) rotate(3.5deg)
    }
    70% {
        transform: translate(7px, -5px) rotate(-1.5deg)
    }
    72% {
        transform: translate(6px, -7px) rotate(3.5deg)
    }
    74% {
        transform: translate(1px, -5px) rotate(-2.5deg)
    }
    76% {
        transform: translate(-7px, 2px) rotate(-.5deg)
    }
    78% {
        transform: translate(-8px, 1px) rotate(1.5deg)
    }
    80% {
        transform: translate(1px, 5px) rotate(1.5deg)
    }
    82% {
        transform: translate(-4px, -5px) rotate(-1.5deg)
    }
    84% {
        transform: translate(3px, -2px) rotate(3.5deg)
    }
    86% {
        transform: translate(-6px, -5px) rotate(1.5deg)
    }
    88% {
        transform: translate(-7px, -1px) rotate(-2.5deg)
    }
    90% {
        transform: translate(10px, 2px) rotate(-2.5deg)
    }
    92% {
        transform: translate(10px, -3px) rotate(1.5deg)
    }
    94% {
        transform: translate(4px, -6px) rotate(3.5deg)
    }
    96% {
        transform: translate(9px, 7px) rotate(-1.5deg)
    }
    98% {
        transform: translate(2px, 1px) rotate(-.5deg)
    }
    0%,
    100% {
        transform: translate(0, 0) rotate(0)
    }
}